@import "bourbon";
@import "neat";
@import "reset";
@import "vars";

@import "components/navbar";
@import "components/hero";
@import "components/grid";
@import "components/footer";
@import "components/panel";
@import "components/spinner";
@import "components/cards";
@import "components/star-rating";

@import "pages/category";

@import "components/fadeInElement";

.page{

    display:flex;

    min-height: 100vh;
    flex-direction: column;
    .content{
        align-items: flex-start;
        flex: 1;
        text-align:left;
        width:100%;
        @include outer-container; 
        &.ng-enter, .ng-leave {
            // transition:all 0.2s ease-in-out;

        }

        &.ng-enter {
            opacity: 0;
            animation: fade-out;

            animation-duration: 0.5s;   
        }

        &.ng-enter-active {
            opacity: 1;    
            animation: fade-in;
            animation-duration: 1s;
        }

        &.ng-leave {
            opacity: 1;  
            animation: fade-in;   

            animation-duration: 1s;
        }

        &.ng-leave-active {
            opacity: 0;   
            animation: fade-out;
            animation-duration: 0.5s; 
        } 

        @keyframes fade-out {
            0%   { opacity: 1; }    
            100% { 
                opacity: 0;
                display:none; 
            }
        }

        @keyframes fade-in {
            0%   { 
                position:absolute;
                opacity:0; 
            }
            60%   { opacity: 0; }
            100% { opacity: 1; }
        }

    }


}

.subHeader{
    padding:2em 0
}

