.cards-wrapper {
  color: #999999;
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on; }
  .cards-wrapper *,
  .cards-wrapper *::before,
  .cards-wrapper *::after {
    box-sizing: border-box; }
  .cards-wrapper img {
    height: auto;
    max-width: 100%;
    vertical-align: middle; }
  .cards-wrapper .btn {
    cursor: pointer;
    background-color: white;
    border: 1px solid #cccccc;
    color: #696969;
    padding: 0.5rem;
    text-transform: lowercase;
    transition: 0.25s all; }
    .cards-wrapper .btn:hover {
      transform: translateY(-2px);
      box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.5);
      background: #999999;
      color: white;
      border-color: #cccccc; }
  .cards-wrapper .btn--block {
    display: block;
    width: 100%; }
  .cards-wrapper .cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0; }
  .cards-wrapper .cards__item {
    display: flex;
    padding: 1rem; }
    @media (min-width: 27rem) {
      .cards-wrapper .cards__item {
        width: 50%; } }
    @media (min-width: 60rem) {
      .cards-wrapper .cards__item {
        width: 33.3333%; } }
    @media (min-width: 90rem) {
      .cards-wrapper .cards__item {
        width: 25%; } }
  .cards-wrapper .card {
    padding: 0;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid #eee;
    cursor: pointer;
    transition: 0.25s all !important; }
    .cards-wrapper .card:hover {
      transform: scale(1.1) translateY(-5%); }
      .cards-wrapper .card:hover .card__image {
        filter: contrast(100%); }
  .cards-wrapper .card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem; }
  .cards-wrapper .card__image {
    background: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% !important;
    position: relative; }
    .cards-wrapper .card__image::before {
      content: "";
      display: block;
      padding-top: 56.25%; }
  .cards-wrapper .card__image--flowers {
    background-image: url(https://unsplash.it/800/600?image=82); }
  .cards-wrapper .card__image--river {
    background-image: url(https://unsplash.it/800/600?image=11); }
  .cards-wrapper .card__image--record {
    background-image: url(https://unsplash.it/800/600?image=39); }
  .cards-wrapper .card__image--fence {
    background-image: url(https://unsplash.it/800/600?image=59); }
  .cards-wrapper .card__title {
    color: #696969;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 0.5rem; }
  .cards-wrapper .card__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5; }
  .cards-wrapper .card__actions {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: center; }
    .cards-wrapper .card__actions .rates {
      width: 100%;
      text-align: left; }
    .cards-wrapper .card__actions .price {
      flex-grow: 1;
      padding: 0.2em;
      font-size: 1.8em;
      display: flex; }
    .cards-wrapper .card__actions .qty {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .cards-wrapper .card__actions .qty .fa {
        font-size: 1.5rem; }
      .cards-wrapper .card__actions .qty input[type="number"] {
        border: 1px solid #ececec;
        font-size: 1.7em;
        width: 2em; }
      .cards-wrapper .card__actions .qty input[type=number]::-webkit-inner-spin-button,
      .cards-wrapper .card__actions .qty input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0; }
