html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.fade-in-element {
  background: white;
  border: 1px solid silver;
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  line-height: 1.5em;
  padding: 1.5em;
  text-align: center;
  width: 100%; }
  .fade-in-element::after {
    clear: both;
    content: "";
    display: table; }
  .fade-in-element p {
    color: #333;
    line-height: 1.5em; }

.js-fade-element-hide {
  opacity: 0 !important; }

.js-fade-element-show {
  opacity: 1 !important; }
