html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.footer {
  background: #40526b;
  padding: 3em 1.618em;
  width: 100%; }
  .footer .footer-logo {
    margin-bottom: 2em;
    text-align: center; }
    .footer .footer-logo img {
      height: 3em; }
  .footer .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.5em; }
  .footer ul {
    flex-basis: 13em;
    flex-shrink: 0;
    margin-bottom: 3em;
    padding: 0; }
  .footer li {
    line-height: 1.5em;
    list-style: none;
    text-align: center; }
  .footer li a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none; }
    .footer li a:focus, .footer li a:hover {
      color: white; }
  .footer li h3 {
    color: white;
    font-size: 1em;
    margin-bottom: 0.4em; }
  .footer hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto 1.5em;
    width: 12em; }
  .footer p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center; }
