<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a ui-sref="home" class="logo" style="padding-top: 0.8em;">
       <logo-svg></logo-svg>
      <!--<img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="Logo Image">-->
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu" ng-click="$ctrl.panelState=1"><i class="fa fa-bars"></i></a>
    <nav role="navigation">
      <nav-links modal-state="$ctrl.modalState"></nav-links>
    </nav>

    <div class="user-actions" ng-if="$ctrl.user">
        <div class="user-img" >
            <img ng-src="{{$ctrl.user.providerData[0].photoURL}}" ng-click="$ctrl.show=!$ctrl.show" />
        </div>
      <div class="cart-icon" >
        <a ui-sref="cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
      </div>

    </div>



    <div class="navigation-tools">

      <div class="search-bar">
        <form role="search">
          <input type="search" placeholder="Enter Search" ng-model="searchTerms"/>
          <button type="submit" ui-sref="products({search: searchTerms})">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</header>

<div class="mini-modal" ng-class="{'show': $ctrl.show}">
    <i class="fa fa-times closebtn" ng-click="$ctrl.show=false;"></i>
  <div class="modal-content" >
    <img ng-src="{{$ctrl.user.providerData[0].photoURL}}" />
    <div style="text-align: right">
      <p>{{$ctrl.user.email}}</p>
      <br>
      <button class="btn" ng-click="$ctrl.signOut()">Log out</button>
    </div>
  </div>
</div>

<div class="mini-modal-overlay" ng-class="{'show': $ctrl.show}" ng-click="$ctrl.show=false"></div>

<panel  modal-state="$ctrl.modalState" state="$ctrl.panelState"></panel>

<modal type="'login'" state="$ctrl.modalState"></modal>