<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a ui-sref="home" class="logo" >
       <logo-svg style="max-width:3.7em;display: block"/>
      <!--<img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="Logo Image">-->
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu" ng-click="$ctrl.panelState=1"><i class="fa fa-bars"></i></a>
    <nav role="navigation">
      <nav-links></nav-links>
    </nav>



    <div class="user-actions">
      <div class="cart-icon">
        <a ui-sref="cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>

      </div>

      <div class="user-img" ng-if="$ctrl.user">
        <img ng-src="{{$ctrl.user.providerData[0].photoURL}}" ng-click="$ctrl.show=!$ctrl.show" />
        <div class="mini-modal" ng-class="{'show': $ctrl.show}">
          <div class="modal-content" >
            <img ng-src="{{$ctrl.user.providerData[0].photoURL}}" />
            <p>{{$ctrl.user.email}}</p>
          </div>
          <div style="text-align: right">
            <button ng-click="$ctrl.signOut()">Log out</button>
          </div>

        </div>
      </div>
    </div>

    <div class="navigation-tools">

      <div class="search-bar">
        <form role="search">
          <input type="search" placeholder="Enter Search" ng-model="searchTerms"/>
          <button type="submit" ui-sref="products({search: searchTerms})">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</header>


<panel  changed="" state="$ctrl.panelState"></panel>