<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a ui-sref="home" class="logo">
       <logo-svg style="display: block"/>
      <!--<img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="Logo Image">-->
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu" ng-click="$ctrl.panelState=1"><i class="fa fa-bars"></i></a>
    <nav role="navigation">
      <nav-links></nav-links>
    </nav>
    <div class="navigation-tools">
      <div class="search-bar">
        <form role="search">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </form>
      </div>
    </div>
  </div>
</header>

<panel state="$ctrl.panelState"></panel>