<div class="hero">
  <div class="hero-content">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="Logo Image" class="hero-logo">
    <p>
        <h2>GrooCo supermarket</h2>
    </p>
  </div>
</div>


<div class="grid-items" ng-if="categories">
  <div class="subHeader">
    <h2>Top Categories</h2>
</div>
  <a href="javascript:void(0)" class="grid-item fade-in-element" 
   ng-class="{'grid-item-big': vm.grid[$index]==2}" ng-repeat="(k, v) in categories" ng-if="$index<vm.max">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="">
    <h1>{{k | removeUnderscore}}</h1>
    <p>
      <span ng-repeat="(sk,sv) in v " ng-if="$index<2"> {{sk| removeUnderscore}}</span>
    </p>
  </a>
</div>
