<modal type="'login'" state="$ctrl.modalState"></modal>
<div class="cards-wrapper">
  <ul class="cards">
    <li class="cards__item" ng-repeat="product in $ctrl.products" ng-if="$ctrl.HTMLvalidation && $index<100">
      <div fade-in-element  class="card">
        <div class="card__image" back-img="product.image"></div>
        <div class="card__content">
          <div class="card__title">{{product.name}}</div>
          <a href="javascript:void(0)" ng-click="product.showdesc=!product.showdesc">
              {{(product.showdesc) ? 'Hide description' : 'Show description'}}
          </a>
          <p class="card__text" ng-bind-html="product.summaryHTML" ng-show="product.showdesc"></p>

          <div class="error" ng-class="{'show': product.error}">{{product.error.msg}}</div>
          <br>
          <div class="card__actions">
            <div class="rates">
              <star-rating rate="product.averageRating"></star-rating>
              <h3>Quantity</h3>
            </div>

            <div class="price"><b>{{product.price}}</b></div>
            <div class="qty">
              <i class="fa fa-angle-up" aria-hidden="true" ng-click="$ctrl.changeQty(product,'+')"></i>
              <input type="number" ng-model="product.userQty" min="0">
              <i class="fa fa-angle-down" aria-hidden="true" ng-click="$ctrl.changeQty(product,'-')"></i>
            </div>
          </div>

          <div class="success" ng-class="{'show':product.success}" ng-show="product.success">{{product.success}}</div>
            <br>
          <button class="btn btn--block card__btn" ng-click="$ctrl.addToCart(product)">Add to cart</button>

        </div>
      </div>
    </li>
    
  </ul>
</div>