html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.cat-menu {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: #40526b;
  color: rgba(255, 255, 255, 0.6);
  text-align: center; }
  .cat-menu::after {
    clear: both;
    content: "";
    display: table; }
  .cat-menu::after {
    clear: both;
    content: "";
    display: table; }
  .cat-menu .item {
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    text-decoration: none;
    background: #40526b;
    cursor: pointer;
    text-align: center;
    word-break: break-all;
    padding: 1em;
    transition: all 0.25s;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .cat-menu .item:last-child {
      margin-right: 0; }
    .cat-menu .item:nth-child(4n) {
      margin-right: 0; }
    .cat-menu .item:nth-child(4n+1) {
      clear: left; }
    @media screen and (max-width: 800px) {
      .cat-menu .item {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        .cat-menu .item:last-child {
          margin-right: 0; }
        .cat-menu .item:nth-child(2n) {
          margin-right: 0; }
        .cat-menu .item:nth-child(2n+1) {
          clear: left; } }
    @media screen and (max-width: 480px) {
      .cat-menu .item {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .cat-menu .item:last-child {
          margin-right: 0; } }
    .cat-menu .item:hover {
      background: #3c4d65; }
      .cat-menu .item:hover a {
        color: white; }
