<modal type="'login'" state="vm.modalState"></modal>
<section class="main" style="overflow:auto">

    <div class="subHeader">
        <h2>Your Cart <span>{{}}</span></h2>
    </div>

    <spinner-css  ng-if="!vm.cart"></spinner-css>
    <div ng-if="vm.cart">
        <div ng-if="vm.cart.erro">
            <h3>You need to login to access the cart</h3>
            <button ng-click="vm.modalState=true">Login Now</button>
        </div>
        <table class="tables cart-desktop" >
            <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Qty</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.cart">
                <td>
                    <div>
                        <img ng-src="{{item.image}}"/>
                        <h3>{{item.name}}</h3>
                    </div>
                </td>
                <td><h3>{{item.price}}</h3></td>
                <td><input type="number" ng-model="item.qty" ng-change="vm.cart.$save(item)"/></td>
                <td><i class="fa fa-times" ng-click="vm.cart.remove(item)"></i></td>
            </tr>
            <tr style="font-size: 1.5em;text-align:right">
                <td colspan="2">Total:</td>
                <td>{{vm.total | currency: '£'}}</td>
                <td></td>
            </tr>
            </tbody>
        </table>

        <div  ng-repeat="item in vm.cart" class="cart-mobile" >
            <img ng-src="{{item.image}}">
            <h3>{{item.name}}</h3>
            <br>
            <div class="product-info">
                <div class="price">
                    <label>Price</label>
                    <br><br>
                    <h2>{{item.price}}</h2>
                </div>
                <div class="qty">Quantity <br><br><input type="number" ng-model="item.qty" ng-change="vm.cart.$save(item)"/><br></div>
            </div>
            <button class="btn" ng-click="vm.cart.remove(item)"><i class="fa fa-times" ></i> Remove</button>
        </div>
        <div class="cart-mobile" style="text-align: right">
            <h2>Total: {{vm.total | currency: '£'}}</h2>
        </div>

        <br>
        <div>
            <button class="btn" ui-sref="payment({amount: vm.total})">Go to pay</button>
        </div>
        <br>
    </div>
</section>