@import "bourbon";
@import "neat";

@import "../vars";



.cards-wrapper{


    *,
*::before,
*::after { 
  box-sizing: border-box;
}
  color: $gray;
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;


img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  cursor: pointer;
  background-color: white;
  border: 1px solid $gray-light;
  //border-radius: 1rem;

  color: $gray-dark;
  padding: 0.5rem;
  text-transform: lowercase;
  transition: 0.25s all;
		&:hover{
			transform: translateY(-2px);
			box-shadow: 0 2px 10px -2px rgba(0,0,0,0.50);
			background: #eee;
			border-color: $gray-light;
		}
}

.btn--block {
  display: block;
  width: 100%;
}
 
.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {

  display: flex;
  width: 100%;
  padding: 0.5rem 0;
  @include media($tablet-screen) {
    width:50%;
    padding:0.5rem;
  }

  @include media($large-screen) {
    width:33.33%;
    padding: 1rem;
  }


}

.card {
  padding:0;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  width:100%;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #eee;
  //cursor:pointer;
  transition:0.25s all!important;
  @include media($large-screen){
    &:hover {
      transform: scale(1.1) translateY(-5%) ;
      .card__image {
        filter: contrast(100%);
      }
    }
  }

}

.card__content {
  display: flex;
  flex:  1;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background:#fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%!important;    
  position: relative;
  &::before {
    content: "";
	display: block;
    padding-top: 56.25%;
  }
}

.card__image--flowers {
  background-image: url(https://unsplash.it/800/600?image=82);
}

.card__image--river {
  background-image: url(https://unsplash.it/800/600?image=11);
}

.card__image--record {
  background-image: url(https://unsplash.it/800/600?image=39);
}

.card__image--fence {
  background-image: url(https://unsplash.it/800/600?image=59);
}

.card__title {
  display: flex;
  flex: 1 1 auto;
  color: $gray-dark;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom:0.5rem;
}

.card__text {
  color: $gray-dark!important;
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
}



  .card__actions{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: center;
    .rates{
      display: flex;
      flex-direction: row;
      flex-flow: row wrap;
      justify-content: space-between;
      h3{
        display: flex;
      }
      star-rating{
        display: flex;
      }
      width:100%;
      text-align:left;
    }
    .price{
      flex-grow: 1;
      padding:0.2em;
      font-size:1.8em;
      display: flex;
    }


    .qty{
      display: flex;
      flex-direction: column;
      align-items: center;
      .fa{
        padding: 0.2rem 1.2rem;
        font-size:1.5rem;
        &:hover,&:active{
          background: $gray-lightest;
        }
      }
      input[type="number"]{
        border: 1px solid $gray-lighter;
        font-size:1.7em;
        width:2em;
      }
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }


}
