@import "bourbon";
@import "neat";
@import "../vars";

@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items {
  @include clearfix;
  .grid-item {
    position:relative;
    background: $grid-item-background;
    border-bottom: $grid-item-border-size solid $grid-items-background;
    border-left: ($grid-item-border-size / 2) solid $grid-items-background;
    border-right: ($grid-item-border-size / 2) solid $grid-items-background;
    border-top: 0;
    cursor: pointer;
    float: left;
    height: $grid-item-height;
    outline: none;
    overflow: hidden;
    padding: 2em;
    text-align: center;
    text-decoration: none;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .grad{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(255,255,255,0));
      // opacity: .3;
    }

    @include media($tablet-screen) {
      @include grid-item-columns(4);
    }

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }


    @for $i from 1 through 20 {
      &:nth-child(#{length($grid-item-colors)}n+#{$i}) {
        $background-from-list: nth($grid-item-colors, random(length($grid-item-colors)));
        background-color: $background-from-list;
        box-shadow: inset 0 0 1px 2px darken($background-from-list, 10%);

        &:focus,
        &:hover {
          background-color: darken($background-from-list, 10%);
          & .grad{
            opacity:0;
          }

          & h1{

            bottom: 30%;
          }
        }

      }
    }
  }

  h1{
    padding:1em;
    width:100%;
    text-align:center;
    position:absolute;
    bottom:5%;
    left:50%;
    transform: translateX(-50%);
    text-shadow: 1px 1px 1px black;
    transition: all 0.3s ease-out;
  }



  .grid-item img {
    display: block;
    height: 3em;
    margin: 0 auto 1em;
  }

  .grid-item h1 {
    color: $grid-item-color;
    font-size: 1.3em;
    margin-bottom: 0.4em;
  }

  .grid-item p {
    color: transparentize($grid-item-color, 0.3);
    line-height: 1.5em;
    margin: auto;

    @include media($medium-screen) {
      max-width: 70%;
    }
  }

  .grid-item-big {


    @include media($tablet-screen) {
      @include grid-item-columns(8);
    }
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }

    p {
      @include media($medium-screen) {
        max-width: 60%;
      }
    }
  }

  .grid-item-image {
    background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


