<div class="hero">
  <div class="hero-content">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="Logo Image" class="hero-logo">
    <p>
        <h2>GrooCo supermarket</h2>
    </p>
  </div>
</div>

<div class="subHeader">
    <h2>Categories</h2>
</div>
<div class="grid-items">
  <a href="javascript:void(0)" class="grid-item" ng-if="$index>2 && $index< 10"
   ng-class="{'grid-item-big': $index%9==0}" ng-repeat="(k, v) in categories">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="">
    <h1>{{k | removeUnderscore}}</h1>
    <p>
      <span ng-repeat="i in v " ng-if="$index<2"> {{i| removeUnderscore}}</span>
    </p>
  </a>
</div>
