
<spinner-css  ng-if="!$ctrl.categories"></spinner-css>
<div class="grid-items" ng-if="$ctrl.categories">
  {{vm.arr}}
	<div ng-repeat="r in $ctrl.arr">
    <div grid-item cols='$ctrl.cols' margin=1  big="{{v.size}}" ng-repeat="v in r track by $index">
      <a fade-in-element ui-sref="category({name: v.name, sub:0})" class="grid-item fade-in-element" style="width:100%" ng-if="$index<$ctrl.max"
      back-img="v.imgs">
        <div class="grad"></div>
        <h1>{{v.name | removeUnderscore}}</h1>
      </a>
    </div>
  </div>
</div>